@model List<BookSale.Models.CustomerModel>

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Customers Table</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Phone</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
                            <th class="text-secondary opacity-7">Status</th>
                            <th class="text-secondary opacity-7"></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var customer in Model)
                        {
                            <tr>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">@customer.Id</p>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">@customer.Name</p>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">@customer.phone</p>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">@customer.Mail</p>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">
                                        @if (customer.status == 0)
                                        {
                                            <button class="btn btn-outline-primary" id="customerStatusButton" data-id="@customer.Id">Onay Bekliyor</button>
                                        }
                                        else
                                        {
                                            <span class="btn btn-success">Onaylanmış Hesap</span>
                                        }
                                    </p>
                                </td>
                                <td>
                                    <button class="btn btn-outline-danger" id="deleteCustomer" data-id="@customer.Id">Satıcıyı Sil</button>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>